<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Punched Cards</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ElectronicsStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div class ="columns">
                <div>
                    <a href="/" title="Punched Cards Home Page">
                        <img src="/images/logo-no-background.png" width="300" height="60" alt="Punched Cards" />
                    </a>
                </div>
                <div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div >
            <nav>
                <ul>
                    <li><a href="/">Top Deals</a></li>
                    <li><a asp-controller="Category" asp-action="Index">Categories</a></li>
                    <li><a href="contact.html">Help</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <article>
            @RenderBody()
        </article>
        
    </main>

    <footer>
        <div class="container">
            &copy; 2024 - ElectronicsStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
