<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Punched Cards</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ElectronicsStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="topnav">
            <div class ="columns">
                <div>
                    <a href="/" title="Punched Cards Home Page">
                        <img src="/images/logo-no-background.png" width="300" height="60" alt="Punched Cards" />
                    </a>
                </div>
                <ul >
                    <li >
                        <a asp-controller="Product" asp-action="Search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <div>
                    <partial name="_LoginPartial" />
                    <vc:shopping-cart-summary></vc:shopping-cart-summary>
                </div>
            </div>
        </nav>
        <div class="hdRow2">
            <a asp-controller="Home" asp-action="Index">Top Deals</a>
            <a asp-controller="Category" asp-action="Index">Categories</a>
        </div>
    </header>

    <main>
        <article>
            @RenderBody()
        </article>
        
    </main>

    <footer>
        <div class="container">
            &copy; 2024 - ElectronicsStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>