@model DealsViewModel

<h3>
    Deals of the day.
</h3>

@foreach (var product in Model.dealProducts)
{
    <ul>
        <li>@product.Name</li>
        <li>@product.Description</li>
        <li>@product.Price</li>
        <li>@product.Category.Name</li>
    </ul>
}