<h3>
    Contact us
</h3>

<div >
    <img src="~/Images/contact/contact.jpg"/>
    <div >
        <h1>We'd Love to Hear from You</h1>
        <h5>Please contact us by sending an email using the button below</h5>
        <email address="info@@ElectronicsStore.com" content="Contact us"></email>
    </div>
</div>
