@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome</h1>

    @foreach (var product in Model.DealProducts)
    {
        <ul>
            <li>@product.Name</li>
            <li>@product.Description</li>
            <li>@product.Price</li>
            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId">Details</a>
        </ul>
    }
</div>
